html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  line-height: 1.5;
}


html body {
  // google

  .gm-iv-address {
    box-sizing: content-box;
  }
  .gm-style > div:nth-child(2) {
    left: initial !important;
    right: 0 !important;
    bottom: 10px !important;
  }

  // yandex - not need container from DIV
  .ymaps-2-1-41-copyright {
    //display: none;
    top: -9px;
    right: -3px;
  }

  .ymaps-2-1-41-map-copyrights-promo {
    bottom: 11px !important;
    right: -3px !important;
    iframe {
      position: relative;
      float: right;
      bottom: -4px;
      right: -3px;
    }
  }

  //leaflet
  .leaflet-control-container {
    .leaflet-control {
      clear: none;
    }

    .leaflet-control-geocoder {
      .leaflet-control-geocoder-form {
        float: right;
        input {
          padding: 0 0 0 10px;
          margin: 0;
          height: 26px;
          box-shadow: none;
        }
      }
    }

    .leaflet-control-layers-toggle {
      background-size: 90%;
      width: 26px;
      height: 26px;
    }

    .leaflet-routing-container {
      min-height: 26px;
      .leaflet-routing-collapse-btn {
        top: -4px;
      }
    }

    .leaflet-routing-container-hide {
      width: 26px;
      height: 26px;
      padding-top: 0;
      .leaflet-routing-collapse-btn {
        height: 26px;
        width: 26px;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        position: static;
      }
    }
  }
}

.main-container {
  //margin: 10px;
  height: 100%;
  .container-maps-and-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    #containerMaps {
      position: relative;
      height: 100%;
      width: 100%;
      border: 2px solid red;
      overflow: hidden;
      padding: 0;
      // style for all maps
      #containerOwnControls {
        height: 43px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;
        z-index: 2147483647;
        .container-history-controls {
          height: 100%;
          width: 53px;
          display: inline-block;
          border-top: 1px solid #cacaca;
          border-right: 1px solid #cacaca;
          .container-history-controls-title {
            font-size: 12px;
            text-align: center;
          }
          .container-history-controls-container-btn {
            height: 27px;
            margin: 0;
            padding: 0;
            #container-history-controls-container-btn_undo {
              cursor: pointer;
              margin: 0;
              padding: 0;
              height: 26px;
              width: 27px;
              border-top: 1px solid #cacaca;
              border-right: 1px solid #cacaca;
              background-image: url("/img/arrow_undo.png");
              background-repeat: no-repeat;
              background-size: 80%;
              background-position: center;
              display: inline-block;
              &:hover {
                background-color: #ebebeb;
              }
            }
            #container-history-controls-container-btn_redo {
              cursor: pointer;
              margin: 0;
              padding: 0;
              height: 26px;
              width: 25px;
              border-top: 1px solid #cacaca;
              background-image: url("/img/arrow_redo.png");
              background-repeat: no-repeat;
              background-size: 80%;
              background-position: center;
              display: inline-block;
              &:hover {
                background-color: #ebebeb;
              }
            }
            .disable-btn-history {
              background-color: #cacaca;
            }
            #container-history-controls-container-btn_redo.disable-btn-history:hover {
              background-color: #cacaca;
            }
            #container-history-controls-container-btn_undo.disable-btn-history:hover {
              background-color: #cacaca;
            }
          }
        }
        .container-toggle-maps {
          display: inline-block;
          width: 81px;
          .container-toggle-maps-title {
            font-size: 12px;
            text-align: center;
            border-top: 1px solid #cacaca;
            border-right: 1px solid #cacaca;
          }
          .container-toggle-maps-buttons {
            & > div {
              display: inline-block;
              padding: 0;
              margin: 0;
              height: 26px;
              width: 27px;
              //padding: 4px 0;
              //background-color: rgba(230, 230, 230, 0.41);
              border: 1px solid #cacaca;
              background-size: auto 90%;
              background-repeat: no-repeat;
              background-position: center;
              cursor: pointer;
              &:hover {
                background-color: #ebebeb;
              }
            }
            #buttonGoogle {
              border-left: none;
              border-right: none;
              background-image: url("/img/google-logo_26_hover.png");
            }
            #buttonYandex {
              border-right: none;
              background-image: url("/img/yadenx-logo_26_hover.png");
            }
            #buttonLeaflet {
              background-image: url("/img/leaflet-logo_26_hover.png")
            }
          }
        }
      }
      #googleMaps, #yandexMaps, #leafletMaps {
        height: 100%;
        width: 100%;
      }
      #yandexMaps {

      }
      #googleMaps {
        //display: block;
      }
      #leafletMaps {
        //display: none;
      }
    }
    #containerContent {
      height: 100%;
      display: flex;
      flex-direction: row;
      border: 2px solid #2c2c2c;
      #containerIcoOpenSlider {
        display: flex;
        height: 100%;
        cursor: col-resize;
        flex-direction: column;
        justify-content: center;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#91bfe5+0,f5f5f5+100 */
        background: rgb(145,191,229); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(145,191,229,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(145,191,229,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(145,191,229,1) 0%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91bfe5', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */

        &:hover {
          background-color: #bcbcbc;
        }
        #icoOpenSlider {
          width: 30px;
          height: 90px;
          background-image: url("/img/menu-arrow_min.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          cursor: pointer;
        }
      }
      #rightMenu {
        display: none;
        height: 100%;
        width: 0px;
        overflow: auto;
        .right-menu-text {
          padding: 10px;
        }
      }
    }
  }
}